= simple_form_for(shallow(@stack, @config)) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  = f.input :lock_version, as: :hidden

  .form-inputs
    - if f.object.new_record?
      = f.input :config_type, collection: f.object.class.config_types.keys, include_blank: false
    - else
      = f.input :config_type, readonly: true, as: :string

    = f.input :name, readonly: !f.object.new_record?

    = f.input :language, collection: Config::LANGUAGES, include_blank: false

    .row
      .col-md-6 = f.input :value, as: :text, wrapper_html: { "data-controller": "code-editor" }, input_html: { "data-target": "code-editor.input" }
      .col-md-6 = f.input :review_value, as: :text, wrapper_html: { "data-controller": "code-editor" }, input_html: { "data-target": "code-editor.input" }

  .form-actions
    - if policy(f.object.class).index?
      => link_to f.object.class.model_name.human(count: 2), [f.object.stack, f.object.class], class: "btn btn-outline-secondary"


    - if policy(f.object).destroy?
      => link_to t(:destroy), f.object, data: { confirm: t(:are_you_sure) }, method: :delete, class: "btn btn-outline-danger"

    = f.button :submit, class: "btn-primary"

  - if f.object.persisted?
    .small.text-muted.text-right.mt-1.mb-3
      = t(:submit_update_later_hint)
