- page_heading
  h1
    => @config.stack.name
    small
      => Config.model_name.human
      => @config.config_type
      => @config.name

  - if policy(@config).update?
    = link_to t(:edit), [:edit, @config], class: "btn btn-secondary"

.row
  .col-md-8
    - if @config.review_value?
      .card.mb-3
        .card-header = Config.human_attribute_name("review_value")
        .card-body
          == rouge @config.formatted_review_value, language: @config.language || "text"

    .card.mb-3
      .card-header = Config.human_attribute_name("value")
      .card-body
        == rouge @config.formatted_value, language: @config.language || "text"

  .col-md-4
    .card.mb-3
      .card-header = ConfigClaim.model_name.human(count: 2)
      .list-group.list-group-flush
        - @config.config_claims.each do |claim|
          .list-group-item.d-flex.justify-content-between
            strong.name = claim.service.name
            .target = claim.target
