- page_heading
  h1
    => @stack.name
    small
      => Environment.model_name.human
      => @environment.name

.service-logs data-controller="logs" data-url=stream_environment_service_logs_path(@environment, @service.id)
  .actions
    button.btn.btn-sm.btn-outline-secondary.float-right data-target="logs.button" data-action="logs#enableScrollToBottom"
     => t(".scroll_to_bottom")

    h3
      => t(".title")
      small
        => Service.model_name.human
        => @service.name.delete_prefix("#{@environment.docker_name}_")

  .wrapper data-target="logs.wrapper" data-action="scroll->logs#disableScrollToBottom"
    .messages data-target="logs.messages"
    .loading
      .dot
      .dot
      .dot
