<template>
  <div class="environment">
    <div class="card mb-3">
      <div class="card-header">Docker services</div>
      <docker-service v-for="service in data.docker_services" v-bind:key="service.id" v-bind:service="service"></docker-service>
      <div v-if="data.docker_services.length == 0" class="card-body text-muted">
        No docker services found. Have you created at least one service templates?
        <small>Or maybe the connection to the Docker daemon is broken?</small>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios"

export default {
  props: {
    dataUrl: String
  },
  data: function () {
    return {
      data: {
        docker_services: []
      }
    }
  },
  methods: {
    refresh() {
      axios.get(this.dataUrl).then((response) => {
        this.data = response.data;
      });
    }
  },
  mounted() {
    this.refresh()
    this.timer = setInterval(this.refresh, 5000)
  },
  beforeDestroy() {
     clearInterval(this.timer)
  }
}
</script>
