= simple_form_for(@stack) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    .row
      .col-md-8 = f.input :name
      .col-md-4 = f.input :short_name, readonly: !f.object.new_record?

    = f.input :production_environment_name

    hr.divider

    .row
      .col-md-6 = f.input :default_production_node_label, collection: Current.settings.node_labels
      .col-md-6 = f.input :default_review_node_label, collection: Current.settings.node_labels

    hr.divider

    .row
      .col-12= f.input :registry_url
      .col-md-6 = f.input :registry_username
      .col-md-6 = f.input :registry_password, as: :string

    hr.divider

    - f.object.users = [f.object.users, User.admin].flatten.compact.uniq
    = f.association :users, as: :check_boxes, disabled: User.admin.map(&:id), collection: User.approved.ordered

    .form-actions
      - if policy(f.object.class).index?
        => link_to f.object.class.model_name.human(count: 2), [f.object.class], class: "btn btn-outline-secondary"

      - if policy(f.object).destroy?
        => link_to t(:destroy), f.object, data: { confirm: t(:are_you_sure) }, method: :delete, class: "btn btn-outline-danger"

      = f.button :submit, class: "btn-primary"
