- page_heading
  h1 = @stack.name
  button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ciModal" Gitlab CI
  - if policy(@stack).update?
    => link_to t(:edit), [:edit, @stack], class: "btn btn-secondary"

- if @production.present?
  h4.mb-3.d-flex.align-items-center
    div
      => Environment.model_name.human
      => @production.name
      => icon "star"
      small = @production.last_deployment&.version

    - if policy(@production).show?
      = link_to t(:details), @production, class: "btn btn-sm btn-outline-secondary ml-auto"

  - if @production.last_deployment
    = render "environments/metrics", environment: @production
    .card.mb-3 = render "docker/services/services", environment: @production, details: false

  - else
    .text-muted It has not been deployed yet.

  .mb-4

- if @reviews.any?
  h4.mb-3 Review environments

  - @reviews.each do |environment|
    .card.mb-3
      .card-header.d-flex.align-items-center
        div
          => Environment.model_name.human
          => environment.name
          small = environment.last_deployment&.version

        - if policy(environment).show?
          = link_to t(:details), environment, class: "btn btn-sm btn-outline-secondary ml-auto"

      - if environment.last_deployment
        = render "docker/services/services", environment: environment, details: false

      - else
        .card-body
          .text-muted It has not been deployed yet.


- if policy(@stack).template?
  .row.justify-content-center.mt-5.pt-5
    .col-lg-8.col-xl-6
      .card
        .card-body
          h5.mb-4 Import template
          table.table.table-striped.mb-0
            - TemplateService.all.each do |template|
              tr
                td = t(:title, scope: [:templates, template.name])
                td.text-muted => t(:description, scope: [:templates, template.name])
                td.with-btn => link_to t(:import), stack_new_template_path(@stack, name: template.name), class: "btn btn-sm btn-secondary"

- elsif @environments.empty?
  p.text-center.text-muted.lead Stack has not been deployed yet.

= render "gitlab_ci_modal", id: "ciModal"
