- page_heading
  h1 = t(".title")

.table-responsive
  table.table.table-striped
    thead
      tr
        th.w-75 = User.human_attribute_name("username")
        th.text-center = User.human_attribute_name("approved")
        th.text-center = User.human_attribute_name("admin")
        th

    tbody
      - @users.each do |user|
        tr
          td = user.username
          td.user-select-none = remote_switch_tag(user, :approved, disabled: !policy(user).update?)
          td.user-select-none = remote_switch_tag(user, :admin, disabled: !policy(user).update?)

          td.with-btn
            - if policy(user).destroy?
              = link_to t(:destroy), user, data: { confirm: t(:are_you_sure) }, method: :delete, class: "btn btn-sm btn-outline-danger"
