= simple_form_for(shallow(@stack, @frontend)) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :service, collection: f.object.stack.services
    = f.input :name
    = f.input :port

    = f.input :hosts
    - if f.object.errors.include?(:hosts)
      = f.input :ignore_wrong_dns_entries, as: :boolean


    hr.divider
    .row
      .col-md-6 = f.input :request_headers
      .col-md-6 = f.input :response_headers
    hr.divider

    = f.input :redirect, input_html: { "data-toggle": "collapse", "data-target": "#collapse-redirect" }, wrapper_html: { class: "user-select-none" }, wrapper: :custom_boolean_switch
    #collapse-redirect.collapse class=("show" if f.object.redirect?)
      .row
        .col-md-6 = f.input :redirect_regex
        .col-md-6 = f.input :redirect_replacement
      = f.input :redirect_permanent
    hr.divider

    = f.input :auth_basic, input_html: { "data-toggle": "collapse", "data-target": "#collapse-auth-basic" }, wrapper_html: { class: "user-select-none" }, wrapper: :custom_boolean_switch
    #collapse-auth-basic.collapse class=("show" if f.object.auth_basic?)
      = f.input :auth_basic_users, as: :text
      = f.input :auth_basic_remove_header
    hr.divider

    = f.input :hsts, input_html: { "data-toggle": "collapse", "data-target": "#collapse-hsts" }, wrapper_html: { class: "user-select-none" }, wrapper: :custom_boolean_switch
    #collapse-hsts.collapse class=("show" if f.object.hsts?)
      = f.input :hsts_max_age
      = f.input :hsts_include_subdomain

  .form-actions
    - if policy(f.object.class).index?
      => link_to f.object.class.model_name.human(count: 2), [f.object.stack, f.object.class], class: "btn btn-outline-secondary"

    - if policy(f.object).destroy?
      => link_to t(:destroy), f.object, data: { confirm: t(:are_you_sure) }, method: :delete, class: "btn btn-outline-danger"

    = f.button :submit, class: "btn-primary"

  .small.text-muted.text-right.mt-1.mb-3 = t(:submit_update_later_hint)
