- page_heading
  h1

    => @frontend.stack.name
    small
      => Frontend.model_name.human
      => @frontend.name

  - if policy(@frontend).update?
    = link_to t(:edit), [:edit, @frontend], class: "btn btn-secondary"

.row
  .col-md-6
    .card.mb-3
      .list-group.list-group-flush
        .list-group-item.d-flex.flex-column
          .small.font-weight-bold = Frontend.human_attribute_name("service")
          .text-muted = @frontend.service.name
        .list-group-item.d-flex.flex-column
          .small.font-weight-bold = Frontend.human_attribute_name("port")
          .text-muted = @frontend.port
        - if @frontend.hosts?
          .list-group-item.d-flex.flex-column
            .small.font-weight-bold = Frontend.human_attribute_name("hosts")
            - @frontend.hosts.split.each do |host|
              = link_to host, "//#{host}", target: :_blank, class: "text-muted"

  .col-md-6
    .card.mb-3
      .list-group.list-group-flush
        - if @frontend.request_headers?
          .list-group-item.d-flex.flex-column
            .small.font-weight-bold = Frontend.human_attribute_name("request_headers")
            .text-muted = simple_format @frontend.request_headers, class: "mb-0"

        - if @frontend.response_headers?
          .list-group-item.d-flex.flex-column
            .small.font-weight-bold = Frontend.human_attribute_name("response_headers")
            .text-muted = simple_format @frontend.response_headers, class: "mb-0"

        - if @frontend.redirect?
          .list-group-item.d-flex.flex-row.justify-content-between
            .option.d-flex.flex-column.mr-3.flex-fill
              .small.font-weight-bold Redirect regex
              .text-muted = @frontend.redirect_regex
            .option.d-flex.flex-column.flex-fill
              .small.font-weight-bold Redirect replacement
              .text-muted = @frontend.redirect_replacement

        - if @frontend.auth_basic?
          .list-group-item.d-flex.flex-column
            .small.font-weight-bold Basic auth users
            .text-muted = simple_format @frontend.auth_basic_users, class: "mb-0"

        - if @frontend.hsts?
          .list-group-item.d-flex.flex-column
            .small.font-weight-bold HTTP Strict Transport Security max age
            .text-muted
              - if @frontend.hsts_max_age > 1.day
                = (@frontend.hsts_max_age / 1.day).round
                | d
              - else
                = number_to_duration @frontend.hsts_max_age
