- page_heading
  h1
    => @stack.name
    small
      => Environment.model_name.human
      => @environment.name

.terminal--container data-controller="terminal" data-environment=@environment.id data-container=@container.id
  h3
    => t(".title")
    small = @container.name.delete_prefix("#{@environment.docker_name}_")
    .indicator data-target="terminal.indicator"
  .alert.alert-info data-target="terminal.alert" = t(".please_exit_terminal_html")
  div data-target="terminal.terminal"
