= simple_form_for(shallow(@stack, @volume)) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name, readonly: !f.object.new_record?

    .form-actions
      - if policy(f.object.class).index?
        => link_to f.object.class.model_name.human(count: 2), [f.object.stack, f.object.class], class: "btn btn-outline-secondary"

      - if policy(f.object).destroy?
        => link_to t(:destroy), f.object, data: { confirm: t(:are_you_sure) }, method: :delete, class: "btn btn-outline-danger"

      = f.button :submit, class: "btn-primary"

    .small.text-muted.text-right.mt-1.mb-3 = t(:submit_update_later_hint)
