@mixin custom-btn-variant($background, $border)
  // $background
  // $border
  // $hover-background: darken($background, 7.5%)
  // $hover-border: darken($border, 10%)
  // $active-background: darken($background, 10%)
  // $active-border: darken($border, 12.5%)

  // $background: var(--primary-color)
  // $border: var(--primary-color)
  $hover-background: lightness($background, 0.8)
  $hover-border: lightness($border, 0.6)
  $active-background: lightness($background, 0.6)
  $active-border: lightness($border, 0.5)

  background-color: $background
  border-color: $border

  @include hover
    background-color: $hover-background
    border-color: $hover-border

  &:focus,
  &.focus
    box-shadow: 0 0 0 $btn-focus-width alpha($border, .5);

  &.disabled,
  &:disabled
    background-color: $background
    border-color: $border

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle
    background-color: $active-background;
    border-color: $active-border

    &:focus
      box-shadow: 0 0 0 $btn-focus-width alpha(var(--primary-color), .5);

.btn-primary
  @include custom-btn-variant(var(--primary-color), var(--primary-color))
