.form-control
  // $input-focus-border-color: lighten($component-active-bg, 25%)
  // $input-btn-focus-color:       rgba($component-active-bg, .25)
  // $input-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color

  &:focus
    border-color: lightness(var(--primary-color), 1.25);
    box-shadow: 0 0 0 $input-btn-focus-width alpha(var(--primary-color), .25)


.custom-control-input
  // $custom-control-indicator-checked-border-color: $component-active-bg
  // $custom-control-indicator-checked-bg:           $component-active-bg
  // $custom-control-indicator-checked-box-shadow:   none !default;
  // $custom-control-indicator-focus-box-shadow:     $input-focus-box-shadow !default;
  // $custom-control-indicator-focus-border-color:   $input-focus-border-color
  // $custom-control-indicator-active-bg:            lighten($component-active-bg, 35%)
  // $custom-control-indicator-active-border-color:  $custom-control-indicator-active-bg

  $component-active-bg: var(--primary-color)
  $custom-control-indicator-checked-border-color: $component-active-bg
  $custom-control-indicator-checked-bg: $component-active-bg
  $input-btn-focus-color: alpha($component-active-bg, .25)
  $custom-control-indicator-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color
  $custom-control-indicator-focus-border-color: lightness($component-active-bg, 1.25)
  $custom-control-indicator-active-bg: lightness($component-active-bg, 1.35)
  $custom-control-indicator-active-border-color: $custom-control-indicator-active-bg


  &:checked ~ .custom-control-label::before
    // color: $custom-control-indicator-checked-color;
    border-color: $custom-control-indicator-checked-border-color;
    // @include gradient-bg($custom-control-indicator-checked-bg);
    background-color: $custom-control-indicator-checked-bg
    // @include box-shadow($custom-control-indicator-checked-box-shadow);

  &:focus ~ .custom-control-label::before
    // the mixin is not used here to make sure there is feedback
    box-shadow: $custom-control-indicator-focus-box-shadow;

  &:focus:not(:checked) ~ .custom-control-label::before
    border-color: $custom-control-indicator-focus-border-color;

  &:not(:disabled):active ~ .custom-control-label::before
    // color: $custom-control-indicator-active-color;
    background-color: $custom-control-indicator-active-bg;
    border-color: $custom-control-indicator-active-border-color;
    // box-shadow: $custom-control-indicator-active-box-shadow;

.custom-checkbox, .custom-switch
  // $custom-control-indicator-checked-disabled-bg:  rgba(theme-color("primary"), .5)
  $custom-control-indicator-checked-disabled-bg: alpha(var(--primary-color), .5)

  .custom-control-input:disabled
    &:checked ~ .custom-control-label::before
      background-color: $custom-control-indicator-checked-disabled-bg;

    &:indeterminate ~ .custom-control-label::before
      background-color: $custom-control-indicator-checked-disabled-bg;

.custom-select
  $component-active-bg: var(--primary-color)
  $input-btn-focus-color: alpha($component-active-bg, .25)

  $custom-select-focus-border-color: lightness($component-active-bg, 1.25)
  $custom-select-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color
  $custom-select-disabled-bg: alpha(var(--primary-color), .5)

  &:focus
    border-color: $custom-select-focus-border-color
    outline: 0
    box-shadow: $custom-select-focus-box-shadow


  &:disabled
    // color: $custom-select-disabled-color
    background-color: $custom-select-disabled-bg
