a, .btn-link
  color: var(--primary-color)

  @include hover
    color: lightness(var(--primary-color), 0.8)

.nav-link
  backgorund: var(--primary-color)

.nav-tabs,
  $nav-tabs-link-active-bg: var(--primary-color)
  $nav-tabs-link-active-border-color: var(--primary-color)

  .nav-link.active,
  .nav-item.show .nav-link
    // color: $nav-tabs-link-active-color
    background-color: $nav-tabs-link-active-bg
    border-color: $nav-tabs-link-active-border-color

.nav-pills
  $nav-pills-link-active-bg: var(--primary-color)

  .nav-link.active,
  .show > .nav-link
    // color: $nav-pills-link-active-color
    background-color: $nav-pills-link-active-bg
