doctype html
html
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1"
    title = t("errors.#{@code}.title")
    meta name="robots" content="noindex, nofollow"

    sass:
      html
        font-size: 22px

      body
        font-weight: 300
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
        background: #F1F1F3
        text-align: center
        padding: 1.5rem
        margin: 0
        color: #6c757d

      svg
        width: 8rem
        max-width: 100%
        margin-top: 1rem
        margin-bottom: 2rem

      h1
        font-size: 1.2rem
        font-weight: 300
        margin-bottom: 1rem

      strong
        font-weight: 500

      p
        font-size: .9rem
        font-weight: 300
        margin-bottom: 1rem

  body
    = embedded_svg "#{@code}.svg"

    h1 = t("errors.#{@code}.header_html")
    p = t("errors.#{@code}.detail_html")

    - if @code == :service_unavailable
      javascript:
        document.querySelectorAll('[data-host]').forEach(function(node) { node.textContent = location.hostname; });

        window.setInterval(function() {
          var xhr = new XMLHttpRequest();
          xhr.timeout = 4000;
          xhr.open('GET', window.location.href);
          xhr.onload = function() {
            if (xhr.status < 400) window.location.reload();
          };
          xhr.send();
        }, 5000);

    - else
      javascript:
        document.querySelectorAll('[data-host]').forEach(function(node) { node.textContent = location.hostname; });
