/*-------------------------------------------*\

<%= t("errors.#{@code}.ascii").tr("|", "").indent(1, "  ") %>
  <%= t("errors.#{@code}.title") %>

<%= raw strip_tags(t("errors.#{@code}.detail_html").gsub("<br/>", "\n")).indent(1, "  ") %>

\*-------------------------------------------*/
