- if policy(environment).metrics?
  - environment.stack.services.joins(:frontends).distinct.each do |service|
    - if policy(service).show?
      = render "services/metrics", environment: environment, service: service
