.table-responsive
  table.table.table-striped.mb-0
    thead
      tr
        th Name
        th Image
        th Replicas
        th Healthy
        th Updated at

    tbody
      - environment.docker_services.each do |service|
        tr
          td = service.name
          td = service.image
          td
            .badge.badge-dark data-toggle="tooltip" data-title="Running Tasks" => service.tasks.count(&:running?)
            ' /
            .badge.badge-dark data-toggle="tooltip" data-title="Replicas"  = service.replicas
          td
            - if service.status == :success
              .text-success Healthy
            - elsif service.status == :warning
              .text-warning #{service.containers.count(&:healthy?)} of #{service.containers.count}
            - else
              .text-danger Unhealthy

          td.datetime = time_ago service.updated_at

      - if environment.docker_services.empty?
        tr.table-light
          td.text-muted colspan="#{details ? 9 : 5}"
            ' No docker services found. Have you created at least one service templates?
            small Or maybe the connection to the Docker daemon is broken?
