.form-group > label,
.col-form-label
  font-weight: 600

.form-actions
  border-top: $border-width solid $border-color
  padding-top: $spacer
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-start

  .btn + .btn
    margin-left: $spacer * .5

  .btn-secondary, .btn-outline-secondary
    margin-right: auto

  @include media-breakpoint-down(xs)
    flex-direction: column-reverse

    .btn
      display: block
      width: 100%
      margin: 0 0 $btn-block-spacing-y 0 !important

    .btn-danger, .btn-outline-danger
      order: -1

.boolean 
  & + .collapse,
  & + .collapsing,
    padding-left: $spacer * 2.25
