.service-logs
  .actions
    margin-bottom: $spacer

  .wrapper
    background: $dark
    color: $white
    font-family: $font-family-monospace
    padding: $spacer
    font-size: $font-size-sm
    overflow: auto
    -webkit-overflow-scrolling: touch
    -ms-overflow-style: -ms-autohiding-scrollbar
    max-height: calc(100vh - 12.5rem)

  .messages
    white-space: pre
    margin-bottom: $spacer * .5

  .loading
    .dot
      display: inline-block
      width: $spacer * .5
      height: $spacer * .5
      border-radius: 50%
      animation: blinking-dot 1.5s linear infinite
      background: #fff
      margin-right: $spacer * .5

      &:nth-child(2)
        animation-delay: 0.33s

      &:nth-child(3)
        animation-delay: 0.66s


@keyframes blinking-dot
  0%
    opacity: 1

  25%
    opacity: 0.4

  75%
    opacity: 0.4

  100%
    opacity: 1
