.terminal--container
  h3
    margin-bottom: $spacer

  .indicator
    border-radius: 50%
    background-color: $gray-400
    width: $spacer
    height: $spacer
    float: right
    margin-top: $spacer
    margin-right: $spacer
    animation: blinking-indicator 1.5s linear infinite

    &.connected
      background-color: $green

    &.disconnected
      background-color: $red

  .terminal
    padding: $spacer


@keyframes connected
  0%
    opacity: 1

  40%
    opacity: 0.5
    box-shadow: 0 0 0 0 $gray-300

  80%
    opacity: 1
    box-shadow: 0 0 0 10px $white
