= simple_form_for(shallow(@stack, @deployment)) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :environment, collection: f.object.stack.environments.not_deleted, include_blank: false
    = f.input :version

    .row
      .col = f.input :tags, input_html: { value: f.object.tags_yaml, rows: f.object.tags_yaml.split("\n").count + 2 }
      .col = f.input :images, input_html: { value: f.object.images_yaml, rows: f.object.images_yaml.split("\n").count + 2 }
    p.text-muted.small
      ' You can only specify
      code> tags
      ' or
      code images
      ' , not both!
  .form-actions
    - if policy(f.object.class).index?
      => link_to  f.object.class.model_name.human(count: 2), [f.object.stack, f.object.class], class: "btn btn-outline-secondary"

    = f.button :submit, class: "btn-primary"
