- page_heading
  h1
    => @deployment.stack.name
    small
      => Deployment.model_name.human
      => @deployment.name
      - if @deployment.version?
        small => @deployment.version

.row
  .col
    pre = @deployment.message

    h6 Docker Compose
    .card.mb-3
      .card-body
        == rouge @deployment.template.to_yaml, language: :yaml

  - if @deployment.tags.present?
    .col-lg-4.order-first.order-lg-last
      h5 = Deployment.human_attribute_name("tags")
      .list-group.mb-3
        - @deployment.tags.each do |service, version|
          .list-group-item.d-flex.justify-content-between
            strong.service.mr-2 = service
            .version.text-truncate = version

  - if @deployment.images.present?
    .col-lg-4.order-first.order-lg-last
      h5 = Deployment.human_attribute_name("images")
      .list-group.mb-3
        - @deployment.images.each do |service, image|
          .list-group-item.d-flex.justify-content-between
            strong.service.mr-2 = service
            .version.text-truncate = image
